*{
    border:yellow;
}
body{
    background-color: rgb(223, 210, 198);
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px  10px;
    background-color: rgb(36, 123, 134);
    color:wheat;
}
ul, a{
    color: wheat;
    text-decoration:none;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 30px
}
#logo{
    cursor: pointer;
    padding: 0 30px;
    background-color: rgb(158, 43, 158) 5px;
    border-radius: 25% 10%;
    padding: 15px;

}